
.homebodycontainer {
  background-image: url('./images/nbg.jpg');
  background-attachment: fixed;
    background-position: cover;
    height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homecontainer1 {
  position: absolute;
  top: 90px;
  width: 70%;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.2);

  backdrop-filter: blur(20px) saturate(100%);
  box-shadow: 0 8px 32px 0 rgba(116, 121, 193, 0.37);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
}

.imgcontainer {
  width: 40%;
  background-image: url('images/bg2.jpg');
  background-size: cover;
  background-position: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.buttonscontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(105, 82, 146, 0.2);
  width: 60%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.buttondiv {
  margin: 5px;
}

.h-btn {
  /* margin-left: 40rem; */
  width: 12rem;
  height: 4rem;
  background-color: transparent;
  border-color: rgb(122, 84, 176);
  cursor: pointer;
  transition: 0.4s ease-in all;
  font-size: 16px;
  font-style: bold;
  border-radius: 10px;
}

.h-btn:hover {
  background-color: rgb(107, 88, 176);
  color: white;
}