body {
    overflow: hidden;
}
.bodycontainer {
    background-image: url('images/nbg.jpg');
    background-attachment: fixed;
    background-position: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    /* top: 0; */
    left: 0;
    right: 0;
    /* bottom: 0; */
    font-family: 'Times New Roman', Times, serif;
}

.container1 {
    width: 70%;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(202, 202, 219, 0.5);
    backdrop-filter: blur(20px) saturate(100%);
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    box-shadow: 0 8px 32px 0 rgba(116, 121, 193, 0.37);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.headcontainer {
    /* background-color: rgb(91, 91, 210); */
    width: 40%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}
.line{
    font-size: 20px;
    font-weight: bold;
}


/* .imgcontainer {
    width: 40%;
    background-image: url('images/bg2.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
} */

.formcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    width: 60%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.labeldiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    
}

.labelh {
    font-size: 16px;
    font-weight: bold;
    /* margin-bottom: 6px; */
}

.inputf {
    border: none;
    border-radius: 5px;
    padding: 5px;
    background: white;
    color: black;
    transition: all 0.3s ease;
    font-size: 16px;
    width: 350px;
    flex-wrap: wrap;
}

.faicon {
    font-size: 16px;
    color: rgb(79, 23, 129);
    margin-right: 5px;
}

.inputf:focus {
    outline: none;
    box-shadow: 0 0 5px #2d2d2d;
}

.radiobtn {
    margin-left: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.radiobtn input[type="radio"] {
    margin-right: 8px;
    /* font-size: 40px; */
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.radiobtn label {
    font-size: 16px;
    cursor: pointer;
    color: black;
    transition: all 0.3s ease;
}

.radiobtn label:hover {
    color: rgb(85, 21, 128);
}

.fplink{
    text-align: right;
    text-decoration: none;
    color: blueviolet;
}
.errormsg{
    color: red;
    text-align: center;
}

  .buttons{
    background-color: rgb(144, 127, 255);
    color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  }

  .buttonr{
    background-color: rgb(41, 32, 218);
    color: white;
  border: none;
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  width: 30%;
  }

  

 
  

