*{
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-image: url('images/nbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    background-attachment: fixed;
}

.bodycontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    }

.container1 {
    position: absolute;
    position: fixed;
    top: 90px;
    width: 70%;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(202, 202, 219, 0.5);
    backdrop-filter: blur(20px) saturate(100%);
    box-shadow: 0 8px 32px 0 rgba(116, 121, 193, 0.37);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.headcontainer {
    width: 40%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}
.subhead {
    font-size: 20px;
    font-weight: bold;
}

.formcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    width: 60%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.labeldiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.labelh {
    font-size: 16px;
    font-weight: bold;
    /* margin-bottom: 6px; */
}
.inputf {
    border: none;
    border-radius: 5px;
    padding: 5px;
    background: white;
    color: black;
    transition: all 0.3s ease;
    font-size: 16px;
    width: 100%;
    flex-wrap: wrap;
}
.faicon {
    font-size: 14px;
    color: rgb(80, 14, 138);
    margin-right: 5px;
}
.inputf:focus {
    outline: none;
    box-shadow: 0 0 2px #4e4e4e;
}
.radiobtn {
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.radiobtn input[type="radio"] {
    margin-right: 8px;
    /* font-size: 40px; */
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.radiobtn label {
    font-size: 16px;
    cursor: pointer;
    color: black;
    transition: all 0.3s ease;
}
.radiobtn label:hover {
    color: rgb(85, 21, 128);
}

.fplink {
    text-align: right;
    text-decoration: none;
    color: blueviolet;
}

.errormsg {
    color: red;
    text-align: center;
}

.buttons {
    background-color: rgb(144, 127, 255);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}

.buttonr {
    background-color: rgb(143, 83, 186);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    /* width: 30%; */
}